if cantidad
    table(class="table table-striped tabla")
        thead(class="tablaTitulos")
            tr
                th(scope="col")="ID"
                th(scope="col")="Nombre"
                th(scope="col")="Precio"
                th(scope="col")="Imagen"
        tbody
            each val in productos
                tr
                    th(scope="row")=val.id 
                    td=val.title
                    td=val.price
                    td
                        div(class="contenedor_img")
                            img(class="img" src=val.thumbnail alt=val.title)

else
    h2="No hay productos :C"
