div
    h1(class="tittle_formulary")="Formulario"
    div(class="formulario App")
        form(action="/api/productos" method="post")
            div(class="formulario")
                label(for="title" class="subTittle_formulary")="Nombre:"
                input(type="text" id="title" name="title" class="formulario_input")
            div(class="formulario")
                labelfor(for="price" class="subTittle_formulary")="Precio:"
                input(type="text" id="price" name="price" class="formulario_input")
            div(class="formulario")
                labelfor(for="thumbnail" class="subTittle_formulary")="Img:"
                input(type="text" id="thumbnail" name="thumbnail" class="formulario_input")
            div
                button(type="submit" id="btnEnviar" class="button_detalle")="Enviar"